* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  /* background-color: #FAF3F0; */
  background: linear-gradient(to right, #faf3f0, #ffff);
  /* padding-top: 20vw; */
  overflow-x: hidden;
}

.page1 {
  /* border: 2px solid rgb(189, 0, 31); */
  width: 100vw;
  height: 80vh;
}

.navbar {
  /* border:2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  height: 16vh;
  width: 100vw;
  background-color: #caedff;
  z-index: 20;
}
.navbar h2 {
  /* border: 2px solid green; */
  height: 10vh;
  width: 10%;
  font-size: 2.5vw;
  font-family: "Playfair Display", serif;
  cursor: pointer;
}
.navbar h2:hover {
  cursor: pointer;
  transition: all 0.3s ease-in;
  transform: scale(1.2);
}

.ul-container {
  /* border: 2px solid red; */
  width: 35vw;
  height: 13vh;
}
.ul-container ul {
  /* border: 2px solid yellow; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.ul-container ul li:hover {
  border-bottom: 3px solid #caedff;
  transition: all 0.3s ease-in;
  transform: scale(1.2);
}
.ul-container ul li a {
  text-decoration: none;
  color: #080202;
  font-size: 1.3vw;
  font-family: "Playfair Display", serif;
}

.fa-solid {
  display: none;
}

/* SECTION-1 */
.section-1 {
  /* border: 2px solid blue; */
  height: 80vh;
  width: 100vw;
  margin-top: 8.8vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section-1 img {
  /* border: 2px solid yellow; */
  height: 40vh;
  width: 22vw;
}
.section-1 .p-box {
  /* border: 2px solid rgb(222, 3, 3); */
  line-height: 4vw;
  width: 18vw;
  height: 30vh;
  font-family: "Inconsolata", monospace;
}
.hello {
  font-size: 2.5vw;
  font-weight: 600;
  line-height: 3.5vw;
}
.darkpink {
  color: #f31559;
}
.resume {
  color: rgb(62, 62, 62);
  cursor: pointer;
}
.line {
  display: inline-block;
  border: 1px solid #9d9d9d;
  width: 4vw;
  margin-left: 4%;
  margin-bottom: 1%;
}

/* PAGE-2  */

.page2 {
  height: 100vh;
  width: 100vw;
  /* border: 2px solid midnightblue; */
}
.container {
  /* border: 2px solid yellowgreen; */
  width: 70vw;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #eeeeee;
  margin-left: 12vw;
  margin-top: 5vw;
  align-items: center;
}
.newsletter-p-box {
  /* border:2px solid purple; */
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.newsletter-p-box .newsletter {
  padding: 0.5em;
  font-size: 1.8vw;
  font-weight: bolder;
}
.newsletter-p-box .lorem-para {
  font-size: 1vw;
  margin-left: 2vw;
  color: #a7a7a7;
}
.input-box {
  /* border: 2px solid orangered; */
  width: 28vw;
  height: 12vh;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  box-shadow: 0px 0px 1em gray;
}
.email-box {
  height: 4.5vh;
  width: 15vw;
  border: none;
  background-color: #eeeeee;
  /* border: 2px solid green; */
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(197, 197, 197);
  opacity: 1; /* Firefox */
  font-size: 15px;
  text-align: center;
}
.subscribe {
  /* border: 2px solid pink; */
  width: fit-content;
  font-weight: 0.2vw;
  color: #636363;
  margin-left: 3vh;
}
.fa-regular {
  height: 3vh;
  width: 2vw;
  font-weight: 600;
  font-size: 1vw;
  /* border: 2px solid red; */
  text-align: center;
  margin-top: 0.3vw;
  margin-left: 0.5vh;
}
input[type="email"]:focus {
  border: 3px solid cyan;
}
.subscribe:hover {
  color: #27b7ff;
  cursor: pointer;
}
.fa-regular:hover {
  color: #27b7ff;
  cursor: pointer;
}

.section-2 {
  /* border: 2px solid red; */
  width: 100vw;
  height: 63vh;
  margin-top: 4vh;
}
.skill-box {
  /* border: 2px solid yellowgreen; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 55vh;
  width: 100vw;
  margin-top: 3vw;
  flex-wrap: wrap;
}
.head-para-skill-name {
  /* border: 2px solid pink; */
  height: 40vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.all-skill-name-box {
  /* border: 2px solid purple; */
  display: flex;
  justify-content: space-between;
  width: 33vw;
  height: 7vh;
  align-items: flex-start;
  margin-top: 2.30vw;
  text-align: center;

}
.all-skill-name-box ul li {
  list-style: none;
}
.all-skill-name-box ul .weight {
  font-weight: bolder;
  margin-top: 0.50vw;
  font-size: 1vw;
  color: #080202;
}
.skill-box img {
  /* border: 2px solid mediumorchid; */
  height: 70%;
  width: 25%;
}
.skill-name{
    font-size: 12px;
    color:#565656;
}
.head-para-skill-name h2{
    /* border:2px solid yellow; */
    margin-top: 1vw;
}
.head-para-skill-name p{
color: #585858;
/* border: 2px solid gray; */
width: 23vw;
margin-top: 1vw;
font-size: 12px;
}







/* MEDIA QUERY */
@media screen and (max-width: 600px) and (orientation: portrait) {
  .page1 {
    /* border: 2px solid red; */
    width: 100%;
    height: 75vw;
  }
  .navbar {
    /* border:2px solid blue; */
    display: flex;
    justify-content: space-between;
    height: 18vw;
    width: 100%;
  }

  .ul-container {
    position: fixed;
    width: 100%;
    height: 70%;
    max-height: 100%;
    inset: 0 0 0 30%;
    background-color: #ffc7ea;
    /* border: 2px solid rgb(134, 0, 139); */
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  .ul-container ul {
    /* border: 2px solid red; */
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20%;
  }
  .ul-container ul li a {
    color: #080202;
    font-weight: 600;
    font-size: 2vh;
  }
  .fa-bars-staggered {
    /* border: 2px solid green; */
    font-size: 3.5vh;
    display: block;
    margin: 8%;
    z-index: 30;
    cursor: pointer;
  }
  .fa-bars-staggered:hover {
    transition: all 0.3s ease-in;
    transform: scale(1.2);
  }

  .fa-xmark {
    font-size: 5vh;
    margin: 8%;
    z-index: 40;
  }
  .fa-xmark:hover {
    transition: all 0.3s ease-in;
    transform: scale(1.2);
  }

  .navbar h2 {
    /* border: 2px solid green; */
    height: fit-content;
    width: fit-content;
    font-size: 2em;
    margin: 8%;
  }
  .section-1 {
    /* border: 2px solid blue; */
    height: 55vw;
    width: 100%;
    margin-top: 17.94%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .section-1 img {
    /* border: 2px solid yellow; */
    height: 40vw;
    width: 25vh;
  }
  .section-1 .p-box {
    /* border: 2px solid rgb(207, 228, 12); */
    line-height: 3vh;
    width: 15vh;
    height: 29vw;
  }
  .hello {
    font-size: 2vh;
    font-weight: bolder;
    line-height: 2.5vh;
  }
  .darkpink {
    color: #f31559;
  }
  .resume {
    color: rgb(44, 44, 44);
    font-size: 1.2vh;
  }
  .line {
    display: inline-block;
    border: 1px solid #636363;
    border-radius: 1px;
    width: 3vh;
    margin-left: 4%;
    margin-bottom: 1%;
  }

  /*MEDIA-QUERY OF MAX-WIDTH:600PX PAGE-2 */
  .page2 {
    height: 100vw;
    width: 100vw;
    /* border: 2px solid midnightblue; */
  }
  .container {
    /* border: 2px solid yellowgreen; */
    width: 80vw;
    height: 16vw;
    margin-left: 3vh;
    margin-top: 2vh;
  }
  .newsletter-p-box {
    display: none;
  }
  .input-box {
    /* border: 2px solid orangered; */
    width: 65vw;
    height: 12vw;
  }
  .email-box {
    /* border: 2px solid blue; */
    height: 6vw;
    width: 25vw;
    background-color: #eeeeee;
  }
  ::placeholder {
    font-size: 10px;
  }
  .subscribe {
    /* border: 2px solid pink; */
    width: 20vw;
    font-size: 3vw;
    margin-left: 2vw;
  }
  .fa-regular {
    height: 3vw;
    width: fit-content;
    font-weight: 600;
    font-size: 2.5vw;
  }

  /* PAGE-2 Ka SECTION-2 */
  .section-2 {
    /* border: 2px solid red; */
    height: 74vw;
    margin-top: 1vh;
  }
  .skill-box {
    /* border: 2px solid yellowgreen; */
    height: 68vw;
    width: 100vw;
  }
  .head-para-skill-name {
    /* border: 2px solid pink; */
    /* margin-top: 2vh; */
    height: 28vw;
    width: 39vh;
    align-items: center;
  }
  .all-skill-name-box {
    /* border: 2px solid purple; */
    width: 37vh;
    height: 10vw;
    margin-top: 1.70vh;
  }
  .all-skill-name-box ul .weight {
    margin-top: 1vw;
    font-size: 1.20vh;
  }
  .skill-box img {
    /* border: 2px solid mediumorchid; */
    height: 33vw;
    width: 18vh;
  }
  .skill-name{
      font-size: 10px;
      color:#565656;
  }
  .head-para-skill-name h2{
      /* border:2px solid yellow; */
      margin-top: 2vh;
  }
  .head-para-skill-name p{
      display: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 1028px) and (orientation: portrait) {
  .page1 {
    /* border: 2px solid red; */
    width: 100vw;
    height: 45vh;
  }
  .navbar {
    height: 10%;
  }
  .ul-container {
    /* border: 2px solid blue; */
    height: 8vh;
    width: 50vw;
  }
  .ul-container ul {
    /* border: 2px solid red; */
    height: fit-content;
    margin-top: 6%;
    align-items: center;
  }
  .ul-container ul li a {
    font-size: 1em;
  }
  .navbar h2 {
    /* border: 2px solid green; */
    height: max-content;
    width: max-content;
    font-size: 2em;
    margin-left: 5%;
  }
  .section-1 {
    /* border: 2px solid rgb(0, 0, 0); */
    height: 30vh;
    width: 100%;
    margin-top: 10vh;
  }
  .section-1 img {
    /* border: 2px solid yellow; */
    height: 60%;
    width: 30%;
    max-height: 40vw;
    max-width: 40vh;
  }
  .section-1 .p-box {
    /* border: 2px solid rgb(222, 3, 3); */
    line-height: 4vw;
    width: 30%;
    height: 15vh;
  }
  .hello {
    font-size: 4vw;
    font-weight: 600;
    line-height: 5vw;
  }
  .darkpink {
    color: #f31559;
  }
  .resume {
    color: rgb(62, 62, 62);
    font-size: 1.6vw;
  }
  .line {
    display: inline-block;
    border: 1px solid #9d9d9d;
    width: 4vw;
    margin-left: 4%;
    margin-bottom: 1%;
  }

  /* MEDIA QUERY FOR PAGE-2 MIN-WIDTH:601PX TO MAX-WIDTH:1024PX */
  .page2 {
    height: 60vh;
    width: 100vw;
    border: 3px solid rgb(50, 50, 215);
  }
  .container {
    /* border: 2px solid yellowgreen; */
    width: 80vw;
    height: 15vh;
    /* margin-left:12vw; */
    margin-top: 7vw;
  }
  .newsletter-p-box {
    /* border:2px solid purple; */
    width: 34vw;
    margin-right: 2vw;
  }
  .newsletter-p-box .newsletter {
    /* padding: 0.5em; */
    font-size: 3vw;
    font-weight: bolder;
  }
  .newsletter-p-box .lorem-para {
    font-size: 1.8vw;
    color: #848484;
  }
  .input-box {
    /* border: 2px solid orangered; */
    width: 45vw;
    height: 7vh;
    margin-right: 2vw;
    /* flex-wrap: wrap; */
  }
  .email-box {
    height: 3vh;
    width: 20vw;
    /* border: 2px solid green; */
  }
  .subscribe {
    /* border: 2px solid pink; */
    width: 13vw;
    font-weight: 1vw;
    color: #636363;
  }
  .fa-regular {
    height: 2vh;
    width: 4vw;
    font-size: 2.5vw;
    /* border: 2px solid red; */
    margin-top: 0.3vw;
    margin-left: 0.5vh;
  }

  /* PAGE-2 KA SECTION 2 */
  .section-2 {
    /* border: 2px solid red; */
    width: 100vw;
    height: 33vh;
  }
  .skill-box {
    /* border: 2px solid yellowgreen; */
    height: 30vh;
    width: 100vw;
  }
  .head-para-skill-name {
    /* border: 2px solid pink; */
    height: 18vh;
    width: 55vw;
  }
  .all-skill-name-box {
    /* border: 2px solid purple; */
    width: 50vw;
    height: 4vh;
    margin-top: 4vw;
  }

  .all-skill-name-box ul .weight {
    margin-top: 1vw;
    font-size: 2vw;
  }
  .skill-box img {
    /* border: 2px solid mediumorchid; */
    height: 20vh;
    width: 25vw;
  }
  .skill-name{
      font-size: 2vw;
  }
  .head-para-skill-name p{
  /* border: 2px solid gray; */
  width: 40vw;
  margin-top: 1.20vw;
  font-size: 14px;
  }
}

/* MEDIA QUERY FOR LANDSCAPE */
@media screen and (orientation: landscape) and (max-width: 1290px) {
  .page1 {
    /* border: 2px solid rgb(201, 0, 0); */
    width: 100vw;
    height: 100%;
  }
  .navbar {
    height: 6rem;
  }
  .section-1 {
    /* border: 2px solid yellow; */
    height: 70%;
    width: 100vw;
    margin-top: 9.98%;
  }
  .ul-container {
    /* border: 2px solid red; */
    width: 25em;
    margin-left: 17%;
    height: 70%;
  }
  .section-1 .p-box {
    /* border: 2px solid green; */
    width: 18vw;
    height: 23vh;
  }
  .ul-container ul {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    margin-right: 1vw;
    height: 10vh;
  }

  .ul-container ul li a {
    font-size: 1em;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    /* border: 2px solid pink; */
  }

  .navbar h2 {
    /* border: 2px solid green; */
    height: fit-content;
    width: 4em;
    font-size: 2em;
    font-family: "Playfair Display", serif;
    cursor: pointer;
  }

  /* PAGE-2 MEDIA QUERY FOR LANDCSAPE */
  .page2 {
    height: 100vh;
    width: 100vw;
    /* border: 4px solid rgb(173, 255, 122); */
  }
  .container {
    /* border: 2px solid yellowgreen; */
    width: 70vw;
    height: 20vh;
    margin-left: 12vw;
    margin-top: 5vw;
  }
  .newsletter-p-box {
    /* border:2px solid purple; */
    width: 20vw;
  }
  .newsletter-p-box .newsletter {
    font-size: 1.9vw;
    font-weight: 600;
  }
  .newsletter-p-box .lorem-para {
    font-size: 7px;
    /* border: 2px solid red; */
    color: #a7a7a7;
  }
  .input-box {
    /* border: 2px solid orangered; */
    width: 37vw;
    height: 11vh;
  }
  .email-box {
    height: 6vh;
    width: 15vw;
    /* border: 2px solid green; */
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 2vh;
  }
  .subscribe {
    /* border: 2px solid pink; */
    width: 16vw;
    margin-left: 1vw;
  }
  .fa-regular {
    height: 3vh;
    width: 3vw;
    font-weight: 600;
    font-size: 1.4vw;
    /* border: 2px solid red; */
    margin-right: 1.3vw;
    /* margin-left: 0.50vh; */
  }
}
