* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;

}
.page1{
  height: 100vh;
  width: 100%;
  position: relative;
}

/* nav element code */
.navbar {
  height: 20vh;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 900;
  transition: 1s;
  background-color: whitesmoke;
}

/* PS LOGO CODE */
.logo {
  /* border: 2px solid rgb(136, 121, 1); */
  font-family: "Playfair Display", serif;
  margin-left: 4rem;
  font-size: 4vw;
  display: flex;
  /* background-color: antiquewhite; */
  justify-content: center;
}

/* div ul li a  Code */
.nav-link {
  width: 35vw;
  /* border: 2px solid blue;
  background-color: cornsilk; */
}
.nav-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  /* border: 2px solid red; */
}
.nav-link ul li a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25vw;
}

/* DIV AND ICONS CODE */

.icon {
  width: 10vw;
  display: flex;
  justify-content: space-evenly;
  margin-right: 3%;
  /* border: 2px solid red; */
}
.fa-brands {
  font-size: 1.35vw;
}

/* section, div,p and img and button  */
.section-one {
  /* border: 3px solid red; */
  height: 75vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-on-img {
  /* border: 2px solid yellow; */
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 15%;
  line-height: 3.5vw;
}
.para1 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 3.35vw;
}
.para2 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 1.25vw;
  font-style: italic;
}
.section-one img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100vw;
}

.btn {
  /* border: 2px solid blue; */
  height: 6vh;
  width: 8vw;
  margin-left: 4%;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid rgb(255, 255, 255);
}

.fa-solid{
  font-size: 30px;
  line-height: 3vh;
  margin-right: 5vh;
  cursor: pointer;
  display: none;
}


/* Media Query */ 

@media (max-width: 450px), screen and (orientation:portrait) {
  .page1 {
    height: 197vw;
  }
  .navbar {
    height: 15vw;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 990;
    transition: 1s;
  }
  .logo {
    margin-left: 2rem;
    font-size: 5vh;
  }
  .btn {
    width: 20vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
  }
  .text-on-img{
    line-height: 6vh;
  }
  .para1 {
    font-size: 4vh;
  }
  .para2 {
    font-size: 2.50vh;
    font-style: italic;
  }
   
  /* Hamburger Menu */
  .fa-solid{
    display: block;
  }
  .nav-link ul{
    display: none;
  }
  .nav-link ul li a{
    font-weight: 200;
  }

  .nav-link .active{
    position: fixed;
    width: 50%;
    min-height: 79vw;
    background-color: rgba(0, 0, 0,0.8);
    top: 8.50%;
    right:10%;
    text-align: center;
    display: block;
    transform: translate(-2%);
    border: 2px solid rgb(63, 63, 63);
  }

  .nav-link ul li a:hover{
   border-bottom: 3px solid cadetblue;
  }
  .nav-link .active li{
    display: block;
    margin: 35px 0;
    line-height: 38px;
  }
  .nav-link .active li a{
    font-size: 3vw;
    color: white;
  }
  .icon {
    width: 26vw;
    /* border: 2px solid blue; */
    margin-right: 30px;
   display: none;
  }
  .fa-brands{
    font-size: 2vw;
    margin-right: 13px;
  }

  .section-one img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100vw;
    /* border: 2px solid blue; */
  }
  .section-one{
    height: 60vh;
  }
  
}

@keyframes border{
  from{
    border-left: 1px solid cornflowerblue;
    border-bottom: 1px solid cornflowerblue;

  }
  to{
    border-left: 5px solid cornflowerblue;
    border-bottom: 5px solid cornflowerblue;

  }
}
.logo:hover{
  animation: border 0.800s;
 }


@media (min-width:620px), screen and(orientation:portrait ) and (max-width:1300px){
  .btn {
    width: 24vh;
    margin-top: 7vh;
  }
  .text-on-img{
    line-height: 7vh;
  }
  .para1 {
    font-size: 6vh;
  }
  .para2 {
    font-size: 2.70vh;
    font-style: italic;
  }
  .logo {
    margin-left: 1.80rem;
    font-size: 7vh;
    /* border: 2px solid red; */
  }
  .nav-link{
    /* border: 2px solid blue; */
    font-size: 2vh;
    width: 50vh;
    margin-left: 5%;
  }
  .nav-link ul li a{
    font-size: 1.90vh;
    font-weight: 700;
  }
  .nav-link ul li a:hover{
  border-bottom: 2px solid cadetblue;
  font-size: 1vw;
  transition: font-size 1s;
  }
  .icon {
    width: 20vw;
  }
  .fa-brands{
    font-size: 2.10vw;
  }
  .fa-brands:hover{
    font-size: 2.30vw;
    transition: font-size 1s;
  }
}
