* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  overflow-x: hidden;
}
.page1{
  height: 100vh;
  width: 100%;
  position: relative;
  /* border: 2px solid red; */
  z-index: 10;
}

/* nav element code */
.navbar {
  height: 20vh;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 900;
  transition: 1s;
  background-color: whitesmoke;
}

/* PS LOGO CODE */
.logo {
  /* border: 2px solid rgb(136, 121, 1); */
  font-family: "Playfair Display", serif;
  margin-left: 4rem;
  font-size: 4vw;
  display: flex;
  /* background-color: antiquewhite; */
  justify-content: center;
  cursor: pointer;
}

/* div ul li a  Code */
.nav-link {
  width: 35vw;
  /* border: 2px solid blue;
  background-color: cornsilk; */
}
.nav-link ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  /* border: 2px solid red; */
}
.nav-link ul li a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25vw;
}

/* DIV AND ICONS CODE */

.icon {
  width: 10vw;
  display: flex;
  justify-content: space-evenly;
  margin-right: 3%;
  /* border: 2px solid red; */
  cursor: pointer;

}
.fa-brands {
  font-size: 1.35vw;
  cursor: pointer;
}

/* section, div,p and img and button  */
.section-one {
  /* border: 3px solid red; */
  height: 75vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}
.text-on-img {
  /* border: 2px solid yellow; */
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 15%;
  line-height: 3.5vw;
}
.para1 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 3.35vw;

}
.para2 {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 1.25vw;
  font-style: italic;
}
.section-one img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.btn {
  /* border: 2px solid blue; */
  height: 6vh;
  width: 8vw;
  margin-left: 4%;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}
.btn:hover{
  -webkit-text-stroke: 1px rgb(20, 209, 193);
}

.fa-solid{
  font-size: 30px;
  line-height: 3vh;
  margin-right: 5vh;
  cursor: pointer;
  display: none;
}
.nav-link ul li a:hover{
  background-color: #000000;
  box-shadow: 2px 2px 3px cyan;
  color: cyan; 
 }


/* Media Query */  

@media (max-width: 600px), screen and (orientation:portrait) {
  .page1 {
    height: 45%;
    /* border: 2px solid blue; */

  } 
  .navbar {
    height: 15vw;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 990;
    transition: 1s;
  }
  .logo {
    margin-left: 2rem;
    font-size: 5vh;
  }
  .btn {
    width: 15vh;
    max-height: 5vh;
    /* margin-top: 5vh; */
    margin-bottom: 3vh;
  }
  .text-on-img{
    line-height: 6vh;
  }
  .para1 {
    font-size: 4vh;
  }
  .para2 {
    font-size: 2.50vh;
    font-style: italic;
  }
   
  /* Hamburger Menu */
  .fa-solid{
    display: block;
  }
  .nav-link ul{
    display: none;
  }
  .nav-link ul li a{
    font-weight: 200;
  }

  .nav-link .active{
    position: fixed;
    width: 50%;
    min-height: 79vw;
    background-color: rgba(0, 0, 0,0.8);
    top: 8.50%;
    right:10%;
    text-align: center;
    display: block;
    transform: translate(-2%);
    border: 2px solid rgb(63, 63, 63);
    z-index: 18;
  }
  .nav-link .active li{
    display: block;
    margin: 35px 0;
    line-height: 3vh;
  }
  .nav-link .active li a{
    font-size: 3vw;
    color: white;
    z-index: 199;
  }
  .icon {
    width: 26vw;
    /* border: 2px solid blue; */
    margin-right: 30px;
   display: none;
  }
  .fa-brands{
    font-size: 2vw;
    margin-right: 13px;
  }

  .section-one img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    width: 100vh;
    /* border: 2px solid blue; */
    /* margin-top: 0px; */
  }
  .section-one{
    height: 35vh;
    /* border: 2px solid red; */
    width: 100vw;
  }
}


@media (min-width:620px), screen and(orientation:portrait ) and (max-width:1100px){
  .btn {
    width: 22vh;
    margin-top: 3vh;
    font-size: 1.70vh;
  }
  .text-on-img{
    line-height: 6vh;
  }
  .para1 {
    font-size: 5vh;
  }
  .para2 {
    font-size: 2.70vh;
    font-style: italic;
  }
  .logo {
    margin-left: 1.80rem;
    font-size: 7vh;
    /* border: 2px solid red; */
  }
  .nav-link{
    /* border: 2px solid blue; */
    font-size: 2vh;
    width: 50vh;
    margin-left: 5%;
  }
  .nav-link ul li a{
    font-size: 1.90vh;
    font-weight: 700;
  }
  .icon {
    width: 20vw;
  }
  .fa-brands{
    font-size: 2.10vw;
  }
  .fa-brands:hover{
    font-size: 2.30vw;
    transition: font-size 1s;
  }
}
@media screen and (orientation: landscape){
  .btn{
    margin-top: 7vh;
  }
}




/* ABOUT ME */

.page2{
  height: 100vh;
  width: 100%;
  /* border: 2px solid blue; */
  position: absolute;
  z-index: 13;
}
.about-me-box{
width: 100vw;
height: 47vh;
display: flex;
justify-content: space-evenly;
/* border: 2px solid rgb(145, 180, 18); */
/* margin: 2vh; */
}

.about-me-box h3{
  font-size: 4vw;
  color: rgb(83, 83, 83);
  font-weight: 500;
  margin-right: 5%;
  /* border: 2px solid green; */
  height: 20vh;
  width: 20vw;
  text-shadow: 7px 7px 4px rgb(59, 59, 59) ;
}
.description-btn{
 display: flex;
 flex-direction: column;
 /* border: 2px solid red; */
 gap: 3vw;
 width: 60vw;
 max-height:38vh ;
 margin-left: -9%;
 align-items: flex-start;
}
.description-btn p{
line-height: 2vw;
font-size: 1.20vw;
color: rgb(121, 121, 121);
}
.resume-btn{
  height: 20vw;
  width: 9.50vw;
  margin-bottom: 5%;
  border-radius: 3px;
  background-color: rgb(45, 45, 45);
  color: rgb(0, 0, 0);
  font-size: 1vw;
  background-image: linear-gradient(to left, rgb(0, 0, 0),rgb(255, 255, 255));
  cursor: pointer;
}
.resume-btn:hover{
 background-image: linear-gradient(to right,  cyan,rgb(255, 255, 255));
 border: 4px solid rgb(122, 126, 243);
 border-radius: 12%;
}

@media (max-width: 600px) {
  /* About me  */
  .page2{
    height: 100vw;
    width: 100%;
    /* border: 2px solid blue; */
    position: absolute;
    margin-top: 3vw;
    z-index: 15;
  }
  .about-me-box{
  height: 47vw;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid rgb(145, 180, 18); */
  /* margin: 2vh; */
  }
  
  .about-me-box h3{
    font-size: 5.50vw;
    color: rgb(54, 54, 54);
    font-weight:bolder;
    margin-left: 3%;
    /* border: 2px solid green; */
    height: 8vh;
    width: 27%;
    text-shadow: 5px 5px 2px rgb(160, 160, 160) ;
  }
  .description-btn{
   /* border: 2px solid red; */
   gap: 3vh;
   width: 63%;
   max-height: 40vw;
   margin-left: 3%;
  }
  .description-btn p{
  line-height: 1.20vh;
  font-size: 1.20vh;
  color: rgb(72, 72, 72);
  }
  .resume-btn{
    height: 8vw;
    width: 43%;
    margin-bottom: 5%;
    font-size: 1.30vh;
  }
} 

@media (min-width: 610px) and (max-width:920px) {
  .page2{
    height: 100vw;
    width: 100%;
    /* border: 2px solid blue; */
    position: absolute;
    margin-top: 3%;
    z-index: 15;
  }
  .resume-btn{
    height: 6vw;
    width: 35%;
    margin-bottom: 5%;
    font-size: 1.30vh;
  }
  .description-btn p{
    line-height: 1.30vh;
    font-size: 1.20vh;
    color: rgb(72, 72, 72);
    }
    .description-btn p{
        margin-top: 3%;
      }
    .about-me-box h3{
      font-size: 5vw;
      color: rgb(54, 54, 54);
      font-weight: 500;
      margin-left: 3%;
      /* border: 2px solid green; */
      height: 8vh;
      width: 27%;
      text-shadow: 5px 5px 2px rgb(160, 160, 160) ;
    } 
    .btn{
      width:18vh;
    }
}

@media(orientation:landscape) , screen and(max-width: 900px){
  .btn{
    font-size: 3vh;
    width: 18vw;
    height: 10vh;
  }
}
 
@media(orientation:landscape) , screen and(min-width:903px){

  .page2{
    /* border: 2px solid blue; */
    margin-top: 5%;
  }
  .resume-btn{
    height: 8vh;
    width: 25%;
    margin-bottom: 5%;
    font-size: 1.30vw;
  }
  .description-btn p{
    line-height: 1.33vw;
    font-size: 1.20vw;
    /* border: 2px solid green; */
    }
    .about-me-box{
      width: 100vw;
      height: 47vh;
      /* border: 2px solid rgb(145, 180, 18); */
      }
    .about-me-box h3{
      font-size: 5vw;
      color: rgb(54, 54, 54);
      /* border: 2px solid green; */
      height: 8vw;
      width: 25%;
      text-shadow: 5px 5px 2px rgb(160, 160, 160) ;
    } 
    .description-btn{
      /* border: 2px solid red; */
      width: 60vw;
      max-height:38vh ;
      margin-left: -9%;
      align-items: flex-start;
     }

     .btn{
      width: 13vw;
      height:8vh ;
     }

}

/* PRE-LOADER */
 
/* #loader{
  background: black url(assets/preloader.gif)no-repeat center center;
  background-size: 20%;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
} */
